* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*  =================================================================
    0. Container
    =================================================================*/
/* Font family */
.container {
    font-family: "DejaVu Sans Mono", cursive, sans-serif;
}
/*  =================================================================
    1. Header
    =================================================================*/
/* Udacity logo */
.logo {
    width: auto;
}

/* Name and Title */
.name {
    text-align: right;
}

/* Name text */
.name-text {
    font-size: 50px;
}

/* 'Front End Ninja' */
.front-end-ninja {
    color: #696969;
}

/*  =================================================================
    2. Separate Line
    =================================================================*/

/* Ruler*/
.ruler {
    height: 2px;
    background-color: #696969;
    margin-top: 0;
}

/*  =================================================================
    3. Featured Work
    =================================================================*/

/* Header for Feature Work */
.feature {
    font-size: 35px;
    color: #696969;
}

/* Responsive images */
.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Image of featerd images */
.featured {
    max-height: 250px;
    max-width: 340px;
}

/* Title of Feature Work */
.featured-work {
    text-transform: uppercase;
    color: #696969;
}

/* Paragraph of the link */
.ref {
    word-wrap: break-word;
}

/* Link */
.ref-link {
    color: #747474;
}

/*  =================================================================
    4. Responsive Design
    =================================================================*/

/* 4.1 Medium Screen: Tablets and Desktops below 992px
   ==================================================================*/
@media only screen and (max-width: 992px) {
    /* Name text */
    .name-text {
        font-size: 30px;
    }

    /* 'Front End Ninja' */
    .front-end-ninja {
        font-size: 20px;
    }

    .center-image {
        width: 100%;
    }

    /* Header of Featured Work */
    .feature {
        display: flex;
        justify-content: center;
    }
}

/* 4.2 Medium Screen: Tablets below 768px
   ==================================================================*/
@media only screen and (max-width: 768px) {
    /* Name text and Title */
    .name {
        text-align: center;
    }

    /* Name text */
    .name-text {
        font-size: 50px;
    }

    /* 'Front End Ninja' */
    .front-end-ninja {
        font-size: 30px;
    }
}

/* 4.3 Small Screen: Tablets below 641px
   ==================================================================*/
@media only screen and (max-width: 640px) {
    /* Responsive image */
    .img-responsive {
        margin: 0 auto;
    }
    /* Logo */
    .logo {
        height: 100px;
        width: auto;
    }

    /* Name text */
    .name-text {
        font-size: 30px;
    }

    /* 'Front End Ninja' */
    .front-end-ninja {
        font-size: 20px;
    }
}
/* 4.4 Extreme-Small Screen: Tablets below 360px
   ==================================================================*/
@media only screen and (max-width: 360px) {
    /* Name text */
    .name-text {
        font-size: 30px;
    }

    /* 'Front End Ninja' */
    .front-end-ninja {
        font-size: 20px;
    }

    /* 'Featured Work' */
    .feature {
        font-size: 30px;
    }
}
